<%= form_tag search_pages_path, method: 'get' do |f| %>
    <div class="ui icon input">
      <%= search_field_tag 'q', '', { placeholder: '作品名、作者、タグ...'} %>
      <i class="search icon"></i>
    </div>
<% end %>