<div class="ui main__visual inverted vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui inverted header">
      原稿用紙一枚分の短編小説 OnePage
    </h1>
    <h2></h2>
    <div class="ui huge primary button">Get Started</div>
  </div>
</div>
<div class="ui container">
</div>