<div class="ui vertical masthead center aligned segment">
  <div class="ui text container">
    <h1 class="ui header">
      原稿用紙一枚分の短編小説 OnePage
    </h1>
    <h2></h2>
    <div class="ui huge primary button">はじめる</div>
  </div>
</div>
<div class="ui container">
</div>
