/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

@mixin input_style {
  border-top: none;
  border-right: none;
  border-left: none;
  border-radius: 0;
}

.fixed {
  &--height {
    box-sizing: border-box;
    height: 100%;
  }
  &--width {
    box-sizing: border-box;
    width: 100%;
  }
}
/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  background: $gray-medium-light;
  @include box_sizing;
}

.ui.form {
  & input {
    &.ui-widget-content {
      border: none;
    }
    &.form {
      &__input {
        @include input_style;
        &:focus {
          border-radius: 0;
        }
      }
    }
  }
  & textarea {
    &.form {
      &__textarea {
        border: none;
      }
    }
  }
  & .ui {
    &.selection {
      &.dropdown {
        @include input_style;
      }
    }
  }
}

ul.tag-it {
  border-color: rgba(34, 36, 38, 0.15);
  @include input_style;
}

.css1 { font-size: 1.0em; }
.css2 { font-size: 1.2em; }
.css3 { font-size: 1.4em; }
.css4 { font-size: 1.6em; }

.ui.inverted.segment {
  background-image: url(https://i.ytimg.com/vi/r8GuIF9f_HM/maxresdefault.jpg);
}
.masthead.segment {
  min-height: 185px;
  padding: .25em 0em;
}

.hidden.item {
  display: none;
}
.ui.secondary.inverted.pointing.menu .hidden.item {
  display: none;
}

@media only screen and (max-width: 700px) {
  .ui.secondary.inverted.pointing.menu .hidden.item {
    display: block;
  }
}

