<div class="ui large top fixed hidden menu">
  <div class="ui container">
    <a class="active item">Home</a>
    <a class="item">Claims</a>
    <a class="item">Eligibility</a>
    <a class="item">My Account</a>
    <a class="item">Knowledge Center</a>
    <div class="right menu">
      <div class="item">
        <a class="ui button">Logout</a>
      </div>
    </div>
  </div>
</div>
