
<div class="ui fixed inverted main menu">
  <div class="ui container">
    <%= link_to 'OnePage', '/', class: 'item' %>
    <%= link_to 'お題', templates_path, class: 'item' %>
    <%= link_to '作品', pages_path, class: 'item' %>

    <div class="right menu">
      <a class="launch icon item js-menu">
        <i class="content icon"></i>
      </a>
    </div>
  </div>
</div>
